<div class="mat-drawer-animation">
  <ul>
    <li class="li__flex">
      <a routerLink="home"><mat-icon>home</mat-icon>Inicio</a>
    </li>
    <li class="li__flex">
      <a routerLink="courses"><mat-icon>nature_people</mat-icon>Cursos</a>
    </li>
    <li class="li__flex">
      <a routerLink="stufents"
        ><mat-icon>supervised_user_circle</mat-icon>Estudiantes</a
      >
    </li>
    <li class="li__flex">
      <a routerLink="teachers"> <mat-icon>work</mat-icon> Profesores</a>
    </li>
    <li class="li__flex">
      <a routerLink="settings"><mat-icon>settings</mat-icon>Configuracion</a>
    </li>
    <li class="li__flex">
      <a><mat-icon>calendar_today</mat-icon>Calendario academico</a>
    </li>
    <li class="li__flex">
      <a (click)="logout()"><mat-icon>exit_to_app</mat-icon>Exit</a>
    </li>
  </ul>

</div>
