<div class="mat-drawer-animation sidenav__container">
  <ul>
    <li class="li__flex">
      <a routerLink="home"><mat-icon>home</mat-icon>Inicio</a>
    </li>
    <li class="li__flex">
      <a routerLink="courses"><mat-icon>nature_people</mat-icon>Cursos</a>
    </li>
    <li class="li__flex"  *ngIf="user?.role === 'ADMIN' || user?.role === 'TEACHER'">
      <a routerLink="students"
        ><mat-icon>supervised_user_circle</mat-icon>Estudiantes</a
      >
    </li>
    <li class="li__flex" *ngIf="user?.role === 'ADMIN'">
      <a routerLink="teachers"> <mat-icon>work</mat-icon> Profesores</a>
    </li>
    <li class="li__flex"  *ngIf="user?.role === 'ADMIN'">
      <a routerLink="settings"><mat-icon>settings</mat-icon>Configuracion</a>
    </li>
    <li class="li__flex">
      <a><mat-icon>calendar_today</mat-icon>Calendario academico</a>
    </li>
    <li class="li__flex"  *ngIf="user?.role === 'ADMIN'">
      <a routerLink="users"><mat-icon>supervisor_account</mat-icon>Users</a>
    </li>
    <li class="li__flex">
      <a routerLink="/auth" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Exit</a>
    </li>
    <li class="li__flex" *ngIf="user?.role === 'ADMIN'">
     SOLO ADMIN
    </li>
  </ul>

</div>
