.table_container {
  padding: 1rem;

}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.color_red {
  color: red;
}
.materia_info_container {
  
  p{
    span{
      font-weight: bold;
    }
  }
}

.add_student_btn_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: 1.1rem;
  button {
    background-color: rgb(116, 116, 197);
    color: #fff;
  }
}

.aprobado {
  color: green;
  font-weight: 500;
}

.desaprobado {
  color: red;
  font-weight: 500;
}
