<div class="add_student_btn_container">
  <div class="materia_info_container"></div>
  <div class="">
    <button
      mat-raised-button
      color="primary"
      (click)="openModal()"
      class="demo-button"
    >
      Add Student
    </button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }} {{ element.lastName }}
    </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Editar</th>
    <td mat-cell *matCellDef="let element">
      <!-- Boton de menu desplegable -->
      <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>expand_circle_down</mat-icon>
      </button>
      <!-- Opciones del menu -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openModal(element)">
          Editar <mat-icon>edit</mat-icon>
        </button>
        <button mat-menu-item (click)="onDelete(element.id)">
          Delete
          <mat-icon color="warn">delete_forever</mat-icon>
        </button>
        <button mat-menu-item (click)="openStudentDetails(element)">
          <mat-icon color="primary">list_alt</mat-icon> Ver Perfil
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
