<div class="student__modal__container">
  <ng-container *ngIf="student">
    <mat-card class="grid__container">
      <mat-card-header>
        <div class="d-flex">
          <mat-card-title
            >Nombre: {{ student.name | uppercase }}</mat-card-title
          >
          <mat-card-title
            >Apellido: {{ student.lastName | uppercase }}</mat-card-title
          >
          <mat-card-subtitle>Email: {{ student.email }}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-actions class="form__container">
        <h2>Añadir Calificación</h2>
        <form [formGroup]="gradeForm" (ngSubmit)="onSubmit()">
          <label for="title">Título:</label>
          <input id="title" formControlName="title" type="text" />
          <div
            *ngIf="
              gradeForm.controls['title'].invalid &&
              gradeForm.controls['title'].touched
            "
          >
            <small>Título es requerido</small>
          </div>

          <label for="grade">Calificación:</label>
          <input
            id="grade"
            formControlName="grade"
            type="number"
            class="input__grade"
          />

          <div
            matTooltip="Debes completar los campos primero"
            [matTooltipDisabled]="!gradeForm.invalid"
          >
            <button mat-button type="submit" [disabled]="gradeForm.invalid"     [ngClass]="{
              'enabled': !gradeForm.invalid,
              'disabled': gradeForm.invalid
            }">
              Añadir Calificación
            </button>
          </div>
        </form>
      </mat-card-actions>
    </mat-card>
    <div class="scrolleable">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Título</th>
          <td mat-cell *matCellDef="let grade">{{ grade.title }}</td>
          <td mat-footer-cell *matFooterCellDef>Promedio</td>
        </ng-container>

        <ng-container matColumnDef="nota">
          <th mat-header-cell *matHeaderCellDef>Calificación</th>
          <td
            mat-cell
            *matCellDef="let grade"
            [ngClass]="grade.grade >= 66 ? 'green' : 'red'"
          >
            {{ grade.grade }}
          </td>
          <!-- metodo para calcular promedio -->

          <td mat-footer-cell *matFooterCellDef>{{ calculateAverage() }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let grade">{{ grade.createdAt | date }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="borrar">
          <th mat-header-cell *matHeaderCellDef>Borrar</th>
          <td mat-cell *matCellDef="let grade" >
            <button (click)="deleteGrade(grade.createdAt)">

              <mat-icon color="warn">delete_forever</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="!student">
    <p>Cargando detalles del estudiante...</p>
  </ng-container>
</div>
