<div class="login__form__container">
  <h4>Ingresar</h4>
  <div class="flex__column">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex__column form__container">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName" />
        <div
          *ngIf="
            UserNameControl?.invalid &&
            (UserNameControl?.dirty || UserNameControl?.touched)
          "
          class="alert"
        >
          <div *ngIf="UserNameControl?.errors">Solo letras</div>
          <div *ngIf="UserNameControl?.errors?.['required']">
            El username es requerido
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>

        <div
          *ngIf="
            PasswordControl?.invalid &&
            (PasswordControl?.dirty || PasswordControl?.touched)
          "
          class="alert"
        >
          <div *ngIf="PasswordControl?.errors?.['required']">
            La password es requerida
          </div>
        </div>
      </mat-form-field>
      <button type="submit" mat-button color="primary">Login</button>
    </form>
  </div>
</div>
