<div>
  <ng-container *ngIf="student$ | async as student">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title
          >Estudiante: {{ student.lastName }} {{ student.name }}</mat-card-title
        >
        <mat-card-subtitle>Email: {{ student.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-card-subtitle
          >Calificaciones: {{ student.grades.join(" - ") }}</mat-card-subtitle
        >
        <p>Promedio: {{ calculateProm(student.grades) }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ExAMPLE</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  <ng-container >
  </ng-container>
</div>
