.custom-modal-width{
  width: 500px;
  padding: 1rem;
}
form {
  width: 100%;
}
h2 {
    margin: .5rem;
}
.inputs__container {
  display: flex;
  flex-direction: column;

  .mat-form-field {
    margin: 0.3rem;

    input {
      &:hover {
        border: none;
      }
    }
  }
}

.shadow-red {
  text-shadow: 1px 1px 15px red;
}


.mdc-notched-outline {
  outline-color: rgb(40, 40, 224);
}
