<div class="modal__container custom-modal-width">
  <h2 mat-dialog-title>Agregar Estudiante</h2>
  <form [formGroup]="studentsForm">
    <div mat-dialog-content class="inputs__container">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="fullName" />
        <mat-error class="shadow-red ">{{fullNameControl?.errors| formsValidators}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Edad</mat-label>
        <input matInput formControlName="age" />
        <mat-error class="shadow-red ">{{ageControl?.errors| formsValidators}}</mat-error>

      </mat-form-field>
      <mat-form-field>
        <mat-label>Asignar Calificacion</mat-label>
        <mat-select formControlName="calificacion">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div mat-dialog-actions>

    <button mat-dialog-close mat-button color="warn">Cancelar <mat-icon>cancel</mat-icon></button>
    <button mat-button color="primary" (click)="onSaveEstudent()">
      Guardar
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
