<div class="register__form__container" [formGroup]="registerForm">
  <h4>Registrarse</h4>
  <div>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rol</mat-label>
      <mat-select formControlName="role">
        <mat-option value="STUDENT">Student</mat-option>
        <mat-option value="TEACHER">Teacher</mat-option>
        <mat-option value="ADMIN">ADMIN</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirmar contraseña</mat-label>
      <input
        matInput
        type="password"
        required
        formControlName="passwordConfirm"
      />
    </mat-form-field>
    <button type="submit" mat-flat-button></button>
  </div>
</div>
