.register__form__container {
    display: flex;
    flex-direction: column;
}

h4 {
    background: #fff;
    border-radius: 5px 5px 2px 2px;
    text-align: center;
    color: #252525;
    padding: 10px 15px;
    letter-spacing: 2px;
    font-size: 1rem;
}

.flex__column {
    display: flex;
    flex-direction: column;
}
.form__container {
    button {
        background-color: rgb(59, 59, 215);
        color: #fff;
        &:hover {
            background-color: rgb(85, 85, 240);
        }
    }
}

