<div class="register__form__container">
  <h4>Registrarse</h4>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select>
      <mat-option value="STUDENT">Student</mat-option>
      <mat-option value="TEACHER">Teacher</mat-option>
      <mat-option value="ADMIN">ADMIN</mat-option>
    </mat-select>
  </mat-form-field>
</div>
