<div class="auth__main__container">
  <div class="auth__header">
    <button (click)="toggleForm()" [ngClass]="{ active: !toggleFormViews }" class="btn1">
      Registrarse
    </button>
    <button (click)="toggleForm()" [ngClass]="{ active: toggleFormViews }" class="btn2">
      Ingresar
    </button>
  </div>
  <div class="forms__container">
    <div *ngIf="!toggleFormViews">
      <app-register></app-register>
    </div>
    <div *ngIf="toggleFormViews">
      <app-login></app-login>
    </div>
  </div>
</div>
