<mat-drawer-container class="example-container" autosize>
  <!-- SIDENAV -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div *ngIf="userLoginOn">
      <h1>Bienvenido {{ user?.name }}!</h1>
    </div>
    @if (showFiller) {
    <app-sidenav></app-sidenav>
    }
    <button
      (click)="showFiller = !showFiller"
      mat-raised-button
      class="icon-span"
    >
      <span *ngIf="showFiller" class="icon-span">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </span>

      <span *ngIf="!showFiller" class="icon-span">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </span>
    </button>
  </mat-drawer>
  <!-- SIDENAV -->
  <!-- TOOLBAR -->
  <mat-toolbar class="toolbar_container">
    <mat-icon type="button" class="toolbar_icon" (click)="drawer.toggle()"
      >menu</mat-icon
    >

    <app-tool-bar></app-tool-bar>
  </mat-toolbar>
  <!-- TOOLBAR -->

  <!-- Contenido que se renderiza en la vista del dash -->
  <div class="main-container">
    <div *ngIf="user">
      
      <p>Role: {{ user.role }}</p>
      <button (click)="logout()">Logout</button>
    </div>
    <router-outlet></router-outlet>
  </div>
  <!-- Contenido que se renderiza en la vista del dash -->
</mat-drawer-container>
