.example-container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.mat-drawer-side {
  background: #333;
  color: #e3e7f1;
 }

.example-sidenav-content {
  height: 100%;
  background-color: #e3e7f1;
}

.example-sidenav {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar_container {
  background-color: #6278b0;
}

.main-container{
  padding: 1rem;
}

.aprobado {

   td { background-color: green};
  
}

.p_flex {
  display: flex;
  align-items: center;
  cursor: pointer;
  .mat-icon {
    color:#6278b0;
  }
  &:hover {
    color: #6278b0;
    border-bottom: 1px solid #6278b0;
  }
}

.icon-span{
  &:hover {
    background-color: #6278b0;
  }
}

.toolbar_icon {
  color: #e3e7f1;
  cursor: pointer;
  &:hover {
    box-shadow: 1px -1px 20px #8ea8eb;
  }
}
