<mat-drawer-container class="example-container " autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="toolbar_container">
      <mat-icon type="button" (click)="drawer.toggle()">menu</mat-icon>

      <span [ngStyle]="{ 'margin': '0 25px' }">Teacher Dashboard</span>
    </mat-toolbar>
    <app-students />
  </div>
</mat-drawer-container>
